<div class="container">
  <div class="row">
    <div class="col-xs-12 col-sm-10 col-md-8 col-sm-offset-1 col-md-offset-2">
      <form (ngSubmit)="onSubmit()" #formData="ngForm">
        <div id="user-data" ngModelGroup="userData" #userData="ngModelGroup" >
          <div class="form-group">
            <label for="username">Username</label>
            <input type="text" id="username" class="form-control" ngModel name="username" required>
          </div>
          <button class="btn btn-default" type="button">Suggest an Username</button>
          <div class="form-group">
            <label for="email">Mail</label>
            <input type="email" id="email" class="form-control" ngModel name="mail" required email #email="ngModel">
            <span class="help-text" *ngIf="!email.valid && email.touched">Please enter a valid email</span>
          </div>
        </div>
        <h4 *ngIf="!userData.valid && userData.touched">Please upadate user data correctly</h4>
        <div class="form-group">
          <label for="secret">Secret Questions</label>
          <select id="secret" class="form-control" name="secret" [ngModel]="defaultValue">
            <option value="pet">Your first Pet?</option>
            <option value="teacher">Your first teacher?</option>
          </select>
        </div>
        <div class="form-group">
          <textarea class="form-control" name="answer" [(ngModel)]="answer">What's your answer?</textarea>
          <p>Is {{answer}} your final answer</p>
        </div>
        <div class="radio" *ngFor="let gender of genders">
          <label> 
            <input  type="radio" name="gender" ngModel [value]="gender" > {{gender}}
          </label>
          
        </div>
        <button class="btn btn-primary" type="submit" [disabled]="!formData.valid">Submit</button>
      </form>
    </div>
  </div>
  <div class="row" *ngIf="submit">
    <hr>
    <h3>Your entered data is : </h3>
    {{user.name}}
    {{user.email}}
    {{user.question}}
    {{user.answer}}
    {{user.gender}}
  </div>
</div>
